<!DOCTYPE html>
<html>

<head>

<title>Learning Recommendation Agent</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="form-card">

<h1>Learning Recommendation Agent</h1>

<p style="margin-bottom:20px;color:#cbd5e1;">
Generate personalized learning pathways.
</p>

<input
id="role"
placeholder="Cloud Engineer">

<button onclick="getLearning()">
Generate Learning Path
</button>

<div id="result"></div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>